<mat-toolbar color="primary" class="d-flex justify-content-between">
  <span>MyMessages</span>
  <div>
    <button
      mat-button
      routerLink="/"
      [routerLinkActive]="'mat-accent'" 
      [routerLinkActiveOptions]="{exact:true}">
      List
    </button>
    <button
      mat-button
      routerLink="/create"
      [routerLinkActive]="'mat-accent'">
      New post
    </button>
  </div>
</mat-toolbar>
